<!-- <div class="mb-3">
    <label for="floatingInput" class="mb-3">Játékosok nevei:</label>
    <table>
        <thead>
            <tr>
              
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>{{playerDetails.playerNumber}}</th>
                <td class="d-flex"> 
                    <input id="playerName" formControlName = 'playerName' type="text" class="form-control" placeholder="Felhasználónév " aria-label="Username" aria-describedby="basic-addon1">
                    <select  id="selectedIcon" formControlName = "selectedIcon" class="form-select" aria-label="Default select example">
                        <option value="X">X</option>
                        <option value="O">O</option>
                        <option value="P">P</option>
                        <option value="P">C</option>
                    </select>
                </td>
             
            </tr>
        </tbody>
    </table>
</div> -->
