<section class="game">


  

    <div class="game-holder">
        <div class="tic-tac-toe-holder">
            <p *ngIf = "threePlayerGame" id="next-player-text">{{secondPlayerName}} kezdi a játékot! </p>
            <p *ngIf = "!threePlayerGame" id="next-player-text">{{firstPlayerName}} kezdi a játékot!</p>
            <div class="board">
              
            </div>
        
        </div>


        <div class="points">
            <div class=" player-box ">
                <p>Első játékos:
                    <span>{{firstPlayerName}} </span>
                <p>Megszerzett pontok: {{firstPlayerWonCounter}}
                    <span id="playerOnePoints"></span>
                </p>
                <p>Választott ikon: {{playersObject.firstPalyerselectedIcon}}</p>
            </div>
            <div class="  player-box" >
                <p>Második játékos:
                    <span>{{secondPlayerName}} </span>
                <p>Megszerzett pontok: {{secondPlayerWonCounter}}
                    <span id="playerTwoPoints"></span>
                </p>
                <p>Választott ikon: {{playersObject.secondPalyerselectedIcon}}</p>
            </div>
            <div *ngIf = "threePlayerGame" class="  player-box">
                <p>Harmadik játékos:
                    <span>{{thirdPlayerName}} </span>
                <p>Megszerzett pontok: {{thirdPlayerWonCounter}}
                    <span id="playerTwoPoints"></span>
                </p>
                <p>Választott ikon: {{playersObject.thirdPalyerselectedIcon}}</p>
            </div>
        </div>


    </div>


    <div id="winner-box">
        <h1 id="winnerPlayerText"></h1>
        <button (click)="createNewGame()" class="btn" id="new-game-btn">Új játék!</button>
    </div>

</section>