*,
html,
body {
    user-select: none;
}

.game {
    font-family: 'Galindo', cursive;
    color: #ffe3de;
    height: 100%;
}



#next-player-text {
    text-align: center;
    color: #ffe3de;
    padding: .30em;
    font-size: 1.5em;
}

.board
 {
    width: 90%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: #B2C192 0px 0px 29px 0px;
    font-size: 3rem;
}

.fieldsSmall {
    width: 33.3%;
    height: 33.3%;
    border: 3px solid #ffe3de;
    font-size: 6rem;
}

.fieldsMedium {
    width: 20%;
    height: 20%;
    border: 3px solid #ffe3de;
}
.fieldsLarge {
    width: 10%;
    height: 10%;
    border: 3px solid #ffe3de;
}

.field {
    color: #03506f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    font-weight: bold;
}

.field:hover {
    background: #093d5257;
    cursor: pointer;
}

.disable {
    pointer-events: none;
}

.points {
    color: #ffe3de;
    display: flex;
    justify-content: space-evenly;
    padding: 1em 1em 1em 0;
    width: 90%;
    margin: 3% auto;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: #B2C192 0px 0px 29px 0px; 
    padding: 1rem;
    font-size: .7rem;
}

.winner-box {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.95);
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1;
    padding-top: 15em;
}

#new-game-btn {
    background: #6ea171;
    color: #ffe3de;
    text-transform: uppercase;
    padding: 0.5em;
    font-size: 1.2em;
    width: 300px;
    margin: 0 auto;
    display: none;
    &:hover {
        color: #ffe3de;
        box-shadow: #B2C192 0px 0px 29px 0px;
    }
}

.winnerPlayerText {
    display: none;

}

#next-player-text {
    padding: 1.5rem;
}

.tic-tac-toe-holder {
    p {
        font-family: 'Galindo', cursive;
    }
}


@media only screen and (min-width: 765px) {
   .board {
        height: 600px;
        width: 80%;
        font-size: 4.5rem;
        
    }
    .points {
        width: 80%;
        font-size: 1rem;
    }
    
}

@media only screen and (min-width: 1200px) {
    .board {
       height: 700px;
        width: 70%;
        font-size: 6rem;
    }
    .points {
        flex-direction: column;
        height: 700px;
        width: 100%;
        background: none;
        box-shadow: none; 
        margin-top: 6rem;
        
    }

    .game-holder {
        margin: 0 auto;
        width: 80%;
        display: grid;
        grid-template-columns: 5fr 2fr;
       
    }

    .player-box {
        background: rgba(0, 0, 0, 0.7);
        box-shadow: #B2C192 0px 0px 29px 0px; 
        padding: 2rem;
        font-size: 1.2rem;
      
       
    }
  

}