#amobaForm {
    width: 50%;
    margin: 5% auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem;
    background: #022838;
    color: white;
    font-family: 'Londrina Solid', cursive;
    font-size: 1.2em;

    
}